################################################
# Trinity Core World Server configuration file #
################################################
[roomServer]



###################################################################################
#    ThreadPool
#        Description: Number of threads to be used for the global thread pool
#                     The thread pool is currently used for:
#                      - Signal handling
#                      - Remote access
#                      - Database keep-alive ping
#                      - Core freeze check
#                      - World socket networking
#        Default:     2

ThreadPool = 2